Cliente/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Agendamento">
    <xs:sequence>
      <xs:element name="CdAgendamento" type="xs:int" />
      <xs:element name="DtConsulta" type="xs:dateTime" />
      <xs:element name="HrConsulta" type="xs:dateTime" />
      <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
      <xs:element name="Prestador" nillable="true" type="tns:Prestador" />
      <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agendamento" nillable="true" type="tns:Agendamento" />
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element name="Bairro" nillable="true" type="xs:string" />
      <xs:element name="CdPaciente" type="xs:int" />
      <xs:element name="Cidade" nillable="true" type="xs:string" />
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="DtNascimento" type="xs:dateTime" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Endereco" nillable="true" type="xs:string" />
      <xs:element name="Estado" nillable="true" type="xs:string" />
      <xs:element name="NmMae" nillable="true" type="xs:string" />
      <xs:element name="NmPaciente" nillable="true" type="xs:string" />
      <xs:element name="NmPai" nillable="true" type="xs:string" />
      <xs:element name="NmSocial" nillable="true" type="xs:string" />
      <xs:element name="Rg" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="Prestador">
    <xs:sequence>
      <xs:element name="CdPrestador" type="xs:int" />
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="NmPrestador" nillable="true" type="xs:string" />
      <xs:element name="NrConselho" nillable="true" type="xs:string" />
      <xs:element name="SnAtivo" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prestador" nillable="true" type="tns:Prestador" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
      <xs:element name="SnAtivo" nillable="true" type="xs:string" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfAgendamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agendamento" nillable="true" type="tns:Agendamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgendamento" nillable="true" type="tns:ArrayOfAgendamento" />
  <xs:complexType name="Atendimento">
    <xs:sequence>
      <xs:element name="Agendamento" nillable="true" type="tns:Agendamento" />
      <xs:element name="CdAtendimento" type="xs:int" />
      <xs:element name="DtAtendFinalizado" type="xs:dateTime" />
      <xs:element name="DtAtendimento" type="xs:dateTime" />
      <xs:element name="Prestador" nillable="true" type="tns:Prestador" />
      <xs:element name="Procedimento" nillable="true" type="tns:Procedimento" />
      <xs:element name="TipoConsulta" nillable="true" type="tns:TipoConsulta" />
      <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Atendimento" nillable="true" type="tns:Atendimento" />
  <xs:complexType name="Procedimento">
    <xs:sequence>
      <xs:element name="CdProcedimento" nillable="true" type="xs:string" />
      <xs:element name="Convenio" nillable="true" type="tns:Convenio" />
      <xs:element name="NmProcedimento" nillable="true" type="xs:string" />
      <xs:element name="SnAtivo" nillable="true" type="xs:string" />
      <xs:element name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Procedimento" nillable="true" type="tns:Procedimento" />
  <xs:complexType name="Convenio">
    <xs:sequence>
      <xs:element name="CdConvenio" type="xs:int" />
      <xs:element name="NmConvenio" nillable="true" type="xs:string" />
      <xs:element name="SnAtivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Convenio" nillable="true" type="tns:Convenio" />
  <xs:complexType name="TipoConsulta">
    <xs:sequence>
      <xs:element name="CdConsulta" type="xs:int" />
      <xs:element name="NmConsulta" nillable="true" type="xs:string" />
      <xs:element name="SnAtivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoConsulta" nillable="true" type="tns:TipoConsulta" />
  <xs:complexType name="ArrayOfAtendimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Atendimento" nillable="true" type="tns:Atendimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAtendimento" nillable="true" type="tns:ArrayOfAtendimento" />
  <xs:complexType name="ArrayOfConvenio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Convenio" nillable="true" type="tns:Convenio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConvenio" nillable="true" type="tns:ArrayOfConvenio" />
  <xs:complexType name="ArrayOfPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paciente" nillable="true" type="tns:Paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaciente" nillable="true" type="tns:ArrayOfPaciente" />
  <xs:complexType name="ArrayOfPrestador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prestador" nillable="true" type="tns:Prestador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestador" nillable="true" type="tns:ArrayOfPrestador" />
  <xs:complexType name="ArrayOfProcedimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Procedimento" nillable="true" type="tns:Procedimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcedimento" nillable="true" type="tns:ArrayOfProcedimento" />
  <xs:complexType name="ArrayOfTipoConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoConsulta" nillable="true" type="tns:TipoConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoConsulta" nillable="true" type="tns:ArrayOfTipoConsulta" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>